html, body {
    height: 100%;
    font-size: 100%; 
    -ms-text-size-adjust: none; 
    -webkit-text-size-adjust: none;
}

header {
  background-color: #fff;
  background-image: url("images/anime-banner.jfif");
  background-repeat: no-repeat;
  background-size: cover;
}

header h1 {
  display: block;
  font-family: 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 36px; 
  font-size: 2.25rem; 
  line-height: 1.3; 
  color: whitesmoke;
  text-shadow: 1px 1px 1px black;
  font-weight: 900;
}

h6 {
  font-family: 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
  color: white;
  text-shadow: 1px 1px 1px black;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 90%;
}

.body-content {
  height: 80%;
  width: 50%;
  margin: 50px auto;
  flex: 1 0 auto
}

.card {
  width: 225px;
	margin-top: 30px;
}

#holder {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  justify-content: space-between;
}
